.checkbox-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-wrapper:hover,
.checkbox-wrapper:hover input,
.checkbox-wrapper:hover label {
  cursor: pointer;
}

.checkbox-wrapper:hover input {
  min-height: none;
}

.end-date {
  position: relative;
  display: flex;
  min-width: 180px;
  width: 300px;
  flex: 1 1 200px;
  margin-bottom: 10px;
}

.form-controls {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.form-controls button {
  border: none;
  background-color: black;
  color: white;
  font-weight: 700;
  padding: 1rem;
}

.form-controls button:hover {
  background-color: rgb(167, 167, 167);
  color: black;
}