.textarea-wrapper {
  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  min-width: 180px;
  width: 100%;
  flex: 1 1 100%;
}

label {
  font-weight: 700;
  font-size: 0.8rem;
}

textarea { 
  padding: 0.5rem;
  border: 1px grey black;
  
}

textarea:focus {
  outline: none;
  border: 0.15rem solid navy;
}
