.resume {
  position: sticky;
  top: 100px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "side main";
  width: 100%;
  max-width: 550px;
  min-width: 300px;
  height: auto;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  font-family: "Saira";
  font-size: clamp(10px, 2vw, 1rem);
  margin: 1rem auto;
  /*A4 Aspect ratio*/
  aspect-ratio: 1 / 1.4142;
}

.side-area {
  grid-area: side;
  background-color: rgb(24, 90, 116);
  color: white;
  gap: 2em;
}

.main-area {
  grid-area: main;
  color: rgb(24, 90, 116);
  gap: 1em;
}

.side-area, .main-area {
  display: flex;
  padding: 1em;
  flex-direction: column;
  font-size: 0.7em;
}

.main-area h1, .side-area h1 {
  font-size: 1em;
  letter-spacing: 2px;
}

.resume hr {
  border: none;
  border-top: 1px black solid;
}

.main-area .name-container {
  display: flex;
  flex-direction: column;
}

.main-area .name-container h1 {
  letter-spacing: normal;
  font-size: 1.6em;
  display: inline-block;
}

.main-area .last-name {
  color: black;
}

.main-area img {
  width: 1em;
}

.side-area .details, .main-area details {
  padding: 0.3em 0.1em;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  color: black;
}

.contact-container > div {
  display: flex;
  gap: 0.4em;
  align-items: center;
}

.contact-container .hidden {
  display: none;
}

.main-section .details {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 0.7em;
}

.job-title,.main-section .date, .employer, .qualification, .institution {
  font-weight: 600;
}

.main-section .employer span, .main-section .institution span {
  font-weight: 400;
}

.main-section .date {
  font-weight: 600;
}